*__pycache__
*pyc
venv
virtual
.env
.idea
.vscode
*migrations/
start.sh
WBBackend/migrations/
WBBackend/migrations/__pycache__/
WBBackend/__pycache__/
WBCarPoolApp/__pycache__/settings.cpython-36.pyc
WBCarPoolApp/__pycache__/