language: python
python:
  - "3.8"
virtualenv:
  system_site_packages: true  

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install .
# command to run tests
script: pytest